* {
  padding: 0;
  margin: 0;
}

@keyframes ease-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  color: white;
  background: linear-gradient(calc(180deg - 145deg), #11677c, #6dd5ed);
  width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: all 1s;
  transform-origin: top;
  background-image: url(./js/source/bg.png);
  background-position: bottom;
}

.night-mode {
  background-position: top;

}
.btn-icon {
  display: block;
  transition: all 1s;
}
.hide {
  display: none;
  transition: all 1s;
}

.dark-mode-btn {
  position: absolute;
  left: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode-btn span {
  font-size: 10px;
  margin-left: 6px;
  display: block;
  transition: all 1s;
}
.search-bar {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.search-icon {
  margin-right: 5px;
  position: absolute;
  left: 0;
}
#search-input {
  flex: 1;
  border: 0;
  outline: 0;
  margin: 3px 3px 3px 90px;
  background-color: transparent;
  height: 20px;
  color: #fff;
  font-size: 16px;
  font: 16px "montserrat";
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font: 0.8em montserrat;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 80px 50px;
}
.city-options {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  align-items: center;
}
.city-options li {
  padding: 0 6px;
  margin: 0 4px;
  transition: all 0.2s ease;
  font-size: 14px;
}
.city-options .active {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 700;
}

.city-name {
  font-size: 25px;
  margin-bottom: 3px;
  text-align: center;
}
.wheather-state {
  font-size: 13px;
}
.weather-icon {
  width: 70px;
}
.temperature {
  font-size: 80px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  transition: all 0.2s ease;
}
.ease-in-animation {
  transition: all 1s ease;
  animation-name: ease-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.temperature::after {
  position: absolute;
  content: "o";
  top: 0;
  right: -15px;
  font-size: 25px;
}

.addtional-section {
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 13px;
}

.addtional-section .row {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.addtional-section .row .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.addtional-section .row .item .label {
  font-size: 15px;
  font-weight: 500;
}
